.gallery-page a {
	margin: 3px;
}
.gallery-adds {
    position: relative;
    height: 18px;
    font-weight: bold; 
    color: #666;
    text-align: center;
    padding: 3px;
}
.gallery-adds-pager {
	float: left;
}
.control-prev, .control-next{
	margin-right:3px;
    background: url(../colorbox/images/controls.png) 0px 0px no-repeat;
    width:23px; 
    height:23px; 
    text-indent:-9999px;
    float: left;
}
.control-prev{background-position: -51px -25px;}
.control-prev:hover{background-position:-51px 0px;}
.control-next{background-position:-75px -25px;}
.control-next:hover{background-position:-75px 0px;}