<%inherit file="/main.html" />
<%namespace file="/defs.html" name="defs" import="*"/>
<%def name="title()">Поездки, походы и другие мероприятия в отчетах...</%def>
<%def name="adds_head()"></%def>
<div class="event-list">
    % if 0==len(c.nodes):
        <div class="box-empty">
            <b>Событий нет.</b>
        </div>
    % else:
        % for event in c.nodes:
            <div class="event-list-node">
                <div class="title">
                    <h1><a href="${event.url()}">${event.title}</a></h1>
                    <div class="box-actions">
                        <%def name="event_link(event, title=u'Детальный просмотр')">
                            <a href="${event.url()}" title="${title}">К событию</a>
                        </%def>
                        % if h.is_node_owner(event):
                            ${event_link(event, u'Детальный просмотр и редактирование')}
                        % else:
                            ${event_link(event)}
                        % endif
                    </div>
                </div>
                <div class="box box-text">
                    <div class="title-info">
                        ${defs.node_info(event, True)}
                    </div>

                    <%def name="info(event)">
                        ${defs.event_details(event)}

                        <div>
                        % if 0 == len(event.persons):
                            <b>Участников нет.</b>
                        % else:
                            <b>Участники:</b> ${', '.join(event.persons_fullnames())}
                        % endif
                        </div>

                        ${defs.event_reports(event)}
                    </%def>

                    % if 0!=len(event.albums) or False:
                        <div class="container">
                            <div class="span-82">
                                ${self.info(event)}
                            </div>
                               <div class="span-18">
                                   ${h.picasa.render(event.albums[0].settings, limit=20, count_per_page=3, align='right')}
                               </div>
                        </div>
                    % else:
                        ${self.info(event)}
                    % endif
                </div>
            </div>
        % endfor
        ${defs.pager(c.nodes)}
    % endif
</div>
