<%inherit file="/main.html" />
<%namespace file="/defs.html" name="defs" import="*"/>
<%namespace file="show.html" name="show" import="*"/>
<%def name="title()">
% if c.user:
    События от ${c.user}.
% else:
    Поездки, походы и другие мероприятия в отчетах...
% endif
</%def>
<%def name="adds_head()"></%def>
<div class="event-list">
    % if 0==len(c.nodes):
        <div class="box-empty">
            <b>Событий нет.</b>
        </div>
    % else:
        <%call expr="defs.event_header(c.nodes[0], True)">
        ${defs.event_reports(c.nodes[0], True)}
        </%call>
        % for event in c.nodes[1:]:
            <div class="event-list-node box">
                <h1><a href="${event.url()}">${event.title}</a></h1>
                <div class="title-info">
                    <a href="${event.node_user.url()}">${event.node_user.nickname}</a>
                </div>
            </div>
        % endfor
        ${defs.pager(c.nodes)}
    % endif
</div>
