<%inherit file="/main.html" />
<%def name="title()">${c.node.category} ${c.node.title}</%def>
<%def name="adds_head()">
    
</%def>
<%def name="actions()">
	% if True:
        ${caller.body()}
	% endif
</%def>
<script type="text/javascript">
/* <![CDATA[ */
    $(document).ready(function(){
        $('.avatar').hover(
        	function() {
				$(this).find('.node-actions').slideDown('fast');
			},
            function() {
                $(this).find('.node-actions').slideUp('fast');
            }
        );
        
        $('a.on_page').click(
   		    function() {
   		    	if ($(this).hasClass('confirm') && !confirm(this.rel)) {
   	                return false
   	            }
   		    	var link = this;
   		        $('#modal-container div').html(
   		   		    '<div class="box-error">загрузка...</div>'
   		   		);   		    	
   	   		    $.ajax({
   	   		        url: this.href,
   	   		        data : {on_page:1},
   	   		        success: function(data){
   	   		            if ($(link).hasClass('modal')) {
	   	   		            $.fn.colorbox({
	   	   		                open: true,
	   	   	   		            inline: true,
		   	   		            href: link.rev,
	   	   	   		            opacity: 0.5,
	   	   	   		            title: " ",
	   	   	   		            height: '500px',
	   	   	   		            width: '450px'
	   	   	   	   		    });
	   	   	   	   		}
   	   		        }
   	   		    });
   	   		    return false;
            }
        );
    });
/* ]]> */
</script>
<div class="event-show">
    <div class="title">
        <h1>${self.title()}</h1>
        <%self:actions>
            <div class="box-actions">
                <a href="${h.url_for(controller='event', action='edit', id=c.node.id)}" class="on_page modal" rev="#event-edit">Изменить</a>
                <a href="${h.url_for(controller='event', action='remove', id=c.node.id)}" class="on_page">Удалить</a>
            </div>         
        </%self:actions>
    </div>

    <div class="container">

        <div class="span-60">
		    <div class="box">
		        <b>Даты:</b> ${c.node.date}
		        <div>${c.node.summary|n}</div>
		    </div>
        
	        <div class="box">
	            <div class="box-title">Отчеты</div>
	            ##${h.Picasa.render('naspeh', '5313876340751828865', limit=8, count_per_page=3)}
	        </div>
        </div>
        
        <div class="span-40">
	        <div class="box">
	            <div class="box-title">
	                Участники
	            </div>
                <%self:actions>
                    <div class="box-actions">
                        <a href="${h.url_for(controller='person', action='new', event_id=c.node.id)}" class="on_page modal" rev="#person-new">Добавить</a>
                    </div>
                </%self:actions>
	            <div class="event-members container">
	                % for person in c.node.persons:
                    <div class="span-50"><div class="avatar">
                        <a title="${person.fullname}">
                        <div class="avatar-img" style="background: #333 url(/uploads/${person.avatar}) no-repeat center;"></div>
                        <div class="avatar-info">${person.fullname}</div>
                        </a>
                        <%self:actions>
                            <div class="node-actions">
		                        <a href="${h.url_for(controller='person', action='edit', event_id=c.node.id, id=person.id)}" class="on_page modal" rev="#person-edit">Изменить</a>
		                        <a href="${h.url_for(controller='person', action='remove', event_id=c.node.id, id=person.id)}" class="on_page confirm" rel="Точно хотите удалить?">Удалить</a>
		                    </div>
	                   </%self:actions>
                    </div></div>
	                % endfor
                </div>
	        </div>
		    <div class="box">
		        <div class="box-title">Альбомы</div>
		        <div class="event-albums">
			        ${h.Picasa.render('naspeh', '5313876340751828865', limit=5, count_per_page=2)}
			        ##${h.Picasa.render('naspeh', '5313876340751828865', limit=16, count_per_page=2)}
			        ##${h.Picasa.render('naspeh', '5313876340751828865', limit=2, count_per_page=2)}
		        </div>
		    </div>
		</div>
	</div>
</div>

<div id="modal-container" class="hide">
    <div id="event-edit"></div>
    <div id="person-edit"></div>
    <div id="person-new"></div>
</div>

<%doc>
    <div class="container">
        <div class="span-40"><div class="box container">
                <div class="box-title">Участники</div>
                <div class="span-50"><div class="avatar-s">
                    <div class="avatar-img"><img alt="naspeh" src="http://pusto.org/sites/default/files/pictures/picture-1.jpg" /></div>
                    <div class="avatar-info">naspeh</div>
                </div></div>
                <div class="span-50"><div class="avatar-s">
                    <div class="avatar-img"><img alt="nayavu" src="http://pusto.org/sites/default/files/pictures/picture-4.jpg" /></div>
                    <div class="avatar-info">Катя Костюк</div>
                </div></div>
                <div class="span-50"><div class="avatar-s">
                    <div class="avatar-img"><img alt="nayavu" src="http://pusto.org/sites/default/files/pictures/picture-4.jpg" /></div>
                    <div class="avatar-info">Катя Костюк</div>
                </div></div>
                
                <div class="span-50"><div class="avatar-s">
                    <div class="avatar-img"><img alt="nayavu" src="http://pusto.org/sites/default/files/pictures/picture-4.jpg" /></div>
                    <div class="avatar-info">Катя Костюк</div>
                </div></div>
        </div></div>
        <div class="span-60"><div class="box">
            <div class="box-title">Альбомы</div>
            ${h.Picasa.render('naspeh', '5313876340751828865', limit=5, count_per_page=3)}
            ${h.Picasa.render('naspeh', '5313876340751828865', limit=5, count_per_page=3)}
        </div></div>
    </div>
</%doc>