<%inherit file="/main.html" />
<%def name="title()">${c.node.category} ${c.node.title}</%def>
<%def name="adds_head()">
    
</%def>
<%def name="actions(**kwargs)">
	% if True:
        ${caller.body()}
	% endif
</%def>
<script type="text/javascript">
/* <![CDATA[ */
    $(document).ready(function(){
        $('.event-persons .avatar').hover(
        	function() {
				$(this).find('.node-actions').slideDown('fast');
			},
            function() {
                $(this).find('.node-actions').slideUp('fast');
            }
        );
        $('.event-albums .gallery').each(function() {
            var gallery = $(this)
			var actions = gallery.parent('.node').find('.node-actions')
			gallery.append(actions.clone(true))
			actions.remove()
			gallery.hover(
	            function() {
	                $(this).find('.node-actions').slideDown('fast');
	            },
	            function() {
	                $(this).find('.node-actions').slideUp('fast');
	            }
	        );
		})
        
        $('a.on_page').click(
   		    function() {
   		    	if ($(this).hasClass('confirm') && !confirm(this.rel)) {
   	                return false
   	            }
   		    	var link = this;
   		        $('#modal-container div').html(
   		   		    '<div class="box-error">загрузка...</div>'
   		   		);   		    	
   	   		    $.ajax({
   	   		        url: this.href,
   	   		        data : {on_page:1},
   	   		        success: function(data){
   	   		            if ($(link).hasClass('modal')) {
	   	   		            $.fn.colorbox({
	   	   		                open: true,
	   	   	   		            inline: true,
		   	   		            href: link.rev,
	   	   	   		            opacity: 0.5,
	   	   	   		            title: " ",
	   	   	   		            height: '500px',
	   	   	   		            width: '450px'
	   	   	   	   		    });
	   	   	   	   		}
   	   		        }
   	   		    });
   	   		    return false;
            }
        );
    });
/* ]]> */
</script>
<div class="event-show">
    <div class="title">
        <h1>${self.title()}</h1>
        <%self:actions>
            <div class="box-actions">
                <a href="${h.url_for(controller='event', action='edit', id=c.node.id)}" class="on_page modal" rev="#event-edit">Изменить</a>
                <a href="${h.url_for(controller='event', action='remove', id=c.node.id)}" class="on_page">Удалить</a>
            </div>         
        </%self:actions>
    </div>
    <div class="title-info container">
        <div>${c.node.node_user.email}</div>
        <div>${c.node.created.strftime('%d %B %Y')}</div>
    </div>
    
    <div class="container">

        <div class="span-60">
		    <div class="box">
		        <b>Даты:</b> ${c.node.date}
		        <div>${c.node.summary|n}</div>
		    </div>
        
	        <div class="box">
	            <div class="box-title">Отчеты</div>
	            % if 0 == len(c.node.articles):
	               <div class="box-empty">
	                   Пока отчетов нет.
	               </div>
	            % endif
	        </div>
        </div>
        
        <div class="span-40">
	        <div class="box">
	            <div class="box-title">
	                Участники
	            </div>
	            <%def name="person_add_url(title=u'Добавить')">
	               <a href="${h.url_for(controller='person', action='new', event_id=c.node.id)}" class="on_page modal" rev="#person-new">${title}</a>
	            </%def>
                <%self:actions>
                    <div class="box-actions">
                        ${self.person_add_url()}
                    </div>
                </%self:actions>
	            <div class="event-persons container">
	                % if 0 == len(c.node.persons):
	                   <div class="box-empty">
	                       Участников нет.
	                       <%self:actions>
	                           Но можно ${self.person_add_url(u'добавить')}.
	                       </%self:actions>
	                   </div>
	                % endif
	            
	                % for person in c.node.persons:
                    <div class="span-50"><div class="node avatar">
                        <a title="${person.fullname}">
                        <div class="avatar-img" style="background: #333 url(${h.url_for(controller='person', action='avatar', id=person.id, time=h.time.time())}) no-repeat center;"></div>
                        <div class="avatar-info">${person.fullname}</div>
                        </a>
                        <%self:actions>
                            <div class="node-actions">
		                        <a href="${h.url_for(controller='person', action='edit', event_id=c.node.id, id=person.id)}" class="on_page modal" rev="#person-edit">Изменить</a>
		                        <a href="${h.url_for(controller='person', action='remove', event_id=c.node.id, id=person.id)}" class="on_page confirm" rel="Точно хотите удалить?">Удалить</a>
		                    </div>
	                   </%self:actions>
                    </div></div>
	                % endfor
                </div>
	        </div>
		    <div class="box">
		        <div class="box-title">Альбомы</div>
		        <%def name="album_add_url(title=u'Добавить')">
                   <a href="${h.url_for(controller='album', action='new', event_id=c.node.id)}" class="on_page modal" rev="#album-new">${title}</a>
                </%def>
                <%self:actions>
                    <div class="box-actions">
                        ${self.album_add_url()}
                    </div>
                </%self:actions>
		        <div class="event-albums container">
                    % if 0 == len(c.node.albums):
                       <div class="box-empty">
                           Альбомов нет.
                           <%self:actions>
                               Но можно ${self.album_add_url(u'добавить')}.
                           </%self:actions>
                       </div>
                    % endif
                    % for album in c.node.albums:
                    <div class="node">
                        ${h.picasa_by_data(album.settings, count_per_page=2)}
                        <%self:actions album="${album}">
                            <div class="node-actions">
                                <a href="${album.settings.GetHtmlLink().href}" title="Посмотреть в Picasa" target="_blank">В Picasa</a>
                                ##<a href="${h.url_for(controller='album', action='edit', event_id=c.node.id, id=album.id)}" class="on_page modal" rev="#person-edit">Изменить</a>
                                <a href="${h.url_for(controller='album', action='remove', event_id=c.node.id, id=album.id)}" class="on_page confirm" rel="Точно хотите удалить?">Удалить</a>
                            </div>
                       </%self:actions>
                    </div>
                    % endfor
		        
			        ##${h.picasa_by_user('naspeh', '5313876340751828865', limit=5, count_per_page=2)}
		        </div>
		    </div>
		</div>
	</div>
</div>

<div id="modal-container" class="hide">
    <div id="event-edit"></div>
    <div id="person-edit"></div>
    <div id="person-new"></div>
    <div id="album-new"></div>
</div>