<%inherit file="/main.html" />
<%def name="title()">${c.node.category}-${c.node.title}</%def>
<%def name="adds_head()">
    
</%def>
<%def name="actions()">
	% if True:
	    <div class="box-actions">
            ${caller.body()}
	    </div>
	% endif
</%def>
<%def name="node_actions()">
    % if True:
        <div class="node-actions">
            ${caller.body()}
        </div>
    % endif
</%def>

<script type="text/javascript">
    $(document).ready(function(){
        $('.avatar').hover(
        	function() {
				$(this).find('.node-actions').slideDown('fast');
			},
            function() {
                $(this).find('.node-actions').slideUp('fast');
            }
        );
        $('.avatar a.confirm').click(
        	function() {
				return confirm(this.rel)
			}
        );
        /*
        $('a.modal').click(
   		    function() {
   		    	var link = $(this);
   	   		    $.ajax({
   	   		        url: this.href,
   	   		        success: function(data){
   	   		            var container = $('#modal-case');
   	   		            container.html(data);
   	   		            link.colorbox({
   	   	   		         
   	   	   		            opacity:0.5,

   	   	   	   		    }).trigger('click.colorbox');
   	   		            
   	   		        }
   	   		    });
   	   		    return false;
            }
        );*/
        
        //$('.modal').colorbox({opacity:0.5})
    });
</script>
<div class="event-show">
	<h2>${c.node.category}-${c.node.title}</h2>
    <div class="container">

        <div class="span-60">
	        <div class="box">
				<b>Даты:</b> ${c.node.date}
				${c.node.html_summary|n}
			</div>
			
	        <div class="box">
	            <div class="box-title">Отчеты</div>
	            ##${h.Picasa.render('naspeh', '5313876340751828865', limit=8, count_per_page=3)}
	        </div>
        </div>
        
        <div class="span-40">
	        <div class="box">
	            <div class="box-title">
	               Участники
	               <%self:actions>
	                   <a href="${h.url_for(controller='person', action='new', event_id=c.node.id, id=None)}" class="modal cboxelement">Добавить</a>
	               </%self:actions>
	            </div>
	            <div class="event-members container">
	                % for person in c.node.members:
                    <div class="span-50"><div class="avatar">
                        <a title="${person.fullname}">
                        <div class="avatar-img" style="background: #333 url(/uploads/${person.avatar}) no-repeat center;"></div>
                        <div class="avatar-info">${person.fullname}</div>
                        </a>
                        <%self:node_actions>
	                        <a href="${h.url_for(controller='person', action='edit', event_id=c.node.id, id=person.id)}" class="modal">Изменить</a><br/>
	                        <a href="${h.url_for(controller='person', action='remove', event_id=c.node.id, id=person.id)}" class="confirm" rel="Точно хотите удалить?">Удалить</a>
	                   </%self:node_actions>
                    </div></div>
	                % endfor
                </div>
	        </div>
		    <div class="box">
		        <div class="box-title">Альбомы</div>
		        <div class="event-albums">
			        ${h.Picasa.render('naspeh', '5313876340751828865', limit=5, count_per_page=2)}
			        ##${h.Picasa.render('naspeh', '5313876340751828865', limit=16, count_per_page=2)}
			        ##${h.Picasa.render('naspeh', '5313876340751828865', limit=2, count_per_page=2)}
		        </div>
		    </div>
		</div>
	</div>
</div>

<%doc>
    <div class="container">
        <div class="span-40"><div class="box container">
                <div class="box-title">Участники</div>
                <div class="span-50"><div class="avatar-s">
                    <div class="avatar-img"><img alt="naspeh" src="http://pusto.org/sites/default/files/pictures/picture-1.jpg" /></div>
                    <div class="avatar-info">naspeh</div>
                </div></div>
                <div class="span-50"><div class="avatar-s">
                    <div class="avatar-img"><img alt="nayavu" src="http://pusto.org/sites/default/files/pictures/picture-4.jpg" /></div>
                    <div class="avatar-info">Катя Костюк</div>
                </div></div>
                <div class="span-50"><div class="avatar-s">
                    <div class="avatar-img"><img alt="nayavu" src="http://pusto.org/sites/default/files/pictures/picture-4.jpg" /></div>
                    <div class="avatar-info">Катя Костюк</div>
                </div></div>
                
                <div class="span-50"><div class="avatar-s">
                    <div class="avatar-img"><img alt="nayavu" src="http://pusto.org/sites/default/files/pictures/picture-4.jpg" /></div>
                    <div class="avatar-info">Катя Костюк</div>
                </div></div>
        </div></div>
        <div class="span-60"><div class="box">
            <div class="box-title">Альбомы</div>
            ${h.Picasa.render('naspeh', '5313876340751828865', limit=5, count_per_page=3)}
            ${h.Picasa.render('naspeh', '5313876340751828865', limit=5, count_per_page=3)}
        </div></div>
    </div>
</%doc>
