<%inherit file="/form.html" />
<%def name="adds_head()"></%def>
<%def name="title()">Новый альбом Picasa</%def>
<%def name="id()">${c.form.name}</%def>
<%def name="actions()">
    ${h.submit(value=u'создать', name=c.fs.save.id)}
    ${h.submit(value=u'отмена', name=c.fs.cancel.id)}
</%def>
<form id="${self.id()}" method="post" action="${c.form.action}">
    <div class="box">
        <div class="box-title">
            <div class="picasa"></div>${self.title()}
        </div>
        <div class="box-notice">
            <p>Вам нужно загрузить альбом в <a href="http://picasaweb.google.com/" target="_blank">Picasa</a>. 
            Потом из ссылки на альбом вставить данные.</p> 
            <p><b>Пример:</b><br/>
            <img alt="" src="${h.url_for('/images/picasa-manual.png')}"/>
            </p>
        </div>      
        ${self.form_errors()}
		<div class="field container">
		    <div class="span-50-left">
		        ${h.title(u'Имя пользователя', c.fs.user.not_empty(), label_for=c.fs.user.id)}
		        ${h.text(name= c.fs.user.id, class_='text')}
		        ${self.field_errors(c.fs.user.id)}
		    </div>
		    <div class="span-50-right">
		        ${h.title(u'ID альбома', c.fs.albumid.not_empty(), label_for=c.fs.albumid.id)}
		        ${h.text(name=c.fs.albumid.id, class_='text')}
		        ${self.field_errors(c.fs.albumid.id)}
		    </div>
		</div>

        <div class="field">
            ${self.actions()}
        </div>
    </div>
</form>