<%inherit file="/main.html" />
<div class="popeye ppy">
    <%doc>
    <div class="ppy-no-js" id="popeye1-no-js">
       Please stand by, images loading!
    </div>
    </%doc>
    ${h.ul(c.photos)}
</div>
<%def name="title()">Popeye Test Page</%def>
<%def name="addsHead()">
        ${h.javascript_link(h.url_for('/app/jquery/jquery.easing.1.3.js'))}
        ${h.javascript_link(h.url_for('/app/popeye/jquery.popeye-1.0.js'))}
        <script type="text/javascript">
            $(document).ready(function(){
                $('.popeye').popeye({
                	direction: 'left', //left | right
                	countpos: 'overlay', //overlay | caption
                	easing: 'linear',
                	debug: true
                });
            });
        </script>
        ${h.stylesheet_link(h.url_for('/app/popeye/css/jquery.popeye.css'))}
        ${h.stylesheet_link(h.url_for('/app/popeye/css/jquery.popeye.style.css'))}
</%def>