<%inherit file="/base.html" />
<script type="text/javascript">
$(document).ready(function(){
	$("a[rel^='show']").prettyPhoto();
    $("ul.gallery").prettyGallery({itemsPerPage:3,animationSpeed:'slow'});
});
</script>
${h.ul(c.photos, class_="gallery")}

<%def name="title()">Pretty Test Page</%def>
<%def name="adds_head()">
    ${h.javascript_link(h.url_for('/app/pretty/jquery.prettyGallery.js'))}
    ${h.javascript_link(h.url_for('/app/pretty/jquery.prettyPhoto.js'))}
    ${h.stylesheet_link(h.url_for('/app/pretty/css/prettyGallery.css'))}
    ${h.stylesheet_link(h.url_for('/app/pretty/css/prettyPhoto.css'))}
</%def>