<%def name="head()">
    ${h.javascript_link(h.url_for('/app/markitup/jquery.markitup.js'))}
    ${h.stylesheet_link(h.url_for('/app/markitup/skins/simple/style.css'))}
    ${h.javascript_link(h.url_for('/app/markitup/sets/markdown/set.js'))}
    ${h.stylesheet_link(h.url_for('/app/markitup/sets/markdown/style.css'))}
</%def>
<script type="text/javascript" >
    $(document).ready(function() {
        $(".markitup textarea").markItUp(mySettings);
    });
</script>
<div class="field">
<label for="${c.fs.title.id}">Название</label>
${h.text(name=c.fs.title.id, class_='text')}
</div>

<fieldset>
<legend>Альбом Picasa</legend>
<div class="field">
    <label for="${c.fs.album_user.id}">Имя пользователя</label>
    ${h.text(name= c.fs.album_user.id, class_='text')}
</div>
<div class="field">
    <label for="${c.fs.album_id.id}">ID альбома</label>
    ${h.text(name=c.fs.album_id.id, class_='text')}
</div>
</fieldset>

<div class="field markitup">
<label for="${c.fs.content.id}">Содержание</label>
${h.textarea(name=c.fs.content.id)}
</div>
