<%def name="head()">
    ${h.javascript_link(h.url_for('/app/markitup/jquery.markitup.js'))}
    ${h.stylesheet_link(h.url_for('/app/markitup/skins/simple/style.css'))}
    ${h.javascript_link(h.url_for('/app/markitup/sets/markdown/set.js'))}
    ${h.stylesheet_link(h.url_for('/app/markitup/sets/markdown/style.css'))}
    <script type="text/javascript" >
       $(document).ready(function() {
          $(".markitup").markItUp(mySettings);
       });
    </script>   
</%def>

<div class="field">
<label for="title">Название</label>
${h.text(name='title', class_='text')}
</div>

<div class="field">
<label for="content">Содержание</label>
${h.textarea(name='content', class_="markitup")}
</div>
