<%inherit file="/main.html" />
<%namespace file="/defs.html" name="defs" import="*"/>
<%def name="title()">
    % if 'pulse' == c.label:
        Пульс проекта
    % else:
        Спиосок статей
    % endif
</%def>
<script type="text/javascript">
/* <![CDATA[ */
    $(document).ready(function(){
        $('a.confirm').click(
            function() {
                if (!confirm(this.rel)) {
                    return false
                }
            }
        )
        $('.article-list-node .title').hover(
            function() {
                $(this).find('.node-actions').slideDown('fast');
            },
            function() {
                $(this).find('.node-actions').slideUp('fast');
            }
        );

    });
/* ]]> */
</script>
<div class="article-list">
    % if 0==len(c.nodes):
        <div class="box-empty">
            <b>Статей нет.</b>
        </div>
    % endif

    % for article in c.nodes:
        <div class="article-list-node">
            ${defs.article(article, full_text=False)}
        </div>
    % endfor
</div>
