<%inherit file="/main.html" />
<%namespace file="/defs.html" name="defs" import="*"/>
<%def name="title()">${c.title}</%def>
<script type="text/javascript">
/* <![CDATA[ */
    $(document).ready(function(){
        $('a.confirm').click(
            function() {
                if (!confirm(this.rel)) {
                    return false
                }
            }
        )
        $('.article-list-node .title').hover(
            function() {
                $(this).find('.node-actions').slideDown('fast');
            },
            function() {
                $(this).find('.node-actions').slideUp('fast');
            }
        );
        
    });
/* ]]> */
</script>
<div class="article-list">
	% for article in c.nodes:
	    <div class="article-list-node">
	        ${defs.article(article, full_text=False)}
	    </div>
	% endfor
</div>