<%inherit file="/main.html" />
<%namespace file="/defs.html" name="defs" import="*"/>
<%def name="title()">${c.node.title}</%def>
<%def name="adds_head()">
    ${self.include.pygments_css()}
</%def>
<script type="text/javascript">
/* <![CDATA[ */
    $(document).ready(function(){
        $('a.confirm').click(
            function() {
                if (!confirm(this.rel)) {
                    return false
                }
            }
        )
        $('.article-show .title').hover(
            function() {
                $(this).find('.node-actions').slideDown('fast');
            },
            function() {
                $(this).find('.node-actions').slideUp('fast');
            }
        );
        
    });
/* ]]> */
</script>
<div class="article-show">
    ${defs.article(c.node)}
</div>
