body { 
  color: #222; 
  background: #efe;
  font-family: Verdana, Arial, sans-serif;
}

.container {
}
.showgrid{
	background-image: url(grid.png);
}

#center {
	background-color: #fff;
	border: 1px solid #ded;
}
.logo {
	background: #efe url(../images/logo.png) no-repeat center;
	height: 45px;
	display: block;
}
#main {
}
#sidebar {}

#footer {
	color: #999;
}
#footer a {
	color: #666;
}
#footer a:hover {
    color: #363;
}

.loading {
	opacity: 0.7;
	z-index:9999; 
	overflow:hidden;
	position:absolute; 
	width:100%; 
	height:100%;
    background: #fefefe url(../images/loading.gif) no-repeat center;
}

/* Gallery styles*/
.gallery {
    border:1px solid #ccc;
    background-color: #e6e5e5;
    text-align: center;
    padding: 7px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.gallery .items {
    white-space: nowrap;
    width: 100%;
    overflow: auto;
}
.gallery .items a {
    margin: 3px;
}
.gallery.left {
    float: left;
    margin: 10px 10px 10px 0;
}
.gallery.right {
    float: right;
    margin: 10px 0 10px 10px;
}
