body { 
  color: #222; 
  background: #9b9;
  font-family: Verdana, Arial, sans-serif;
}
#layout {
	width: 960px;
    margin: 0 auto;
    padding: 0 5px;
}
#header {
    background-color: #aca;
    margin: 0 -5px;
    padding: 0 5px;
    border: 1px solid #ded;
    border-top: none;
    
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
#center {
	background-color: #fff;
	border: 1px solid #ded;
	border-top: none;
	padding: 0 20px;
}
#main {
	padding: 10px 20px 0 0;
}
#sidebar {
}

#footer {
	color: #efe;
	padding: 5px 0;
	text-align: center;
}
#footer .copyright {
	margin-right: 20px;
}
#footer a {
	color: #363;
}
#footer a:hover {
    color: #336;
}

.logo {
    background: url(../images/logo.png) no-repeat center;
    height: 50px;
    width: 150px;
    display: block;
}

.loading {
	opacity: 0.7;
	z-index:9999; 
	overflow:hidden;
	position:absolute; 
	width:100%; 
	height:100%;
    background: #fefefe url(../images/loading.gif) no-repeat center;
}

.box {
	border: 1px solid #ded;
	margin-bottom: 10px;
	padding: 10px;
}
.box .box-title {
	padding-left: 5px;
	margin: -10px -10px 10px -10px;
	background: #ded;
	color: #686;
	font-weight: bold;
}

.box-bottom { margin-bottom: 0; }

/* Event */
.event {
}
/* Gallery styles*/
.gallery {
    border:1px solid #ccc;
    background-color: #e6e5e5;
    text-align: center;
    padding: 7px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.gallery .items {
    white-space: nowrap;
    width: 100%;
    overflow: auto;
}
.gallery .items a {
    margin: 3px;
}
.gallery.left {
    float: left;
    margin: 10px 10px 10px 0;
}
.gallery.right {
    float: right;
    margin: 10px 0 10px 10px;
}
