@charset "UTF-8";

/* Blueprint CSS Framework */ 
@import url(../blueprint/src/reset.css);
@import url(../blueprint/src/grid.css);
@import url(../blueprint/src/typography.css);
@import url(../blueprint/src/forms.css);
/* Plugins */
/*@import url(../blueprint/plugins/fancy-type/screen.css);*/

#content{padding:10px}
.gallery {
	position: relative;
	margin: 10px 0;
	clear: both;
}
.gallery .controls {
    text-align: center;
    vertical-align: middle;	
    border:1px solid #ccc;
    background-color: #e6e5e5;
    float: left;
    
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
}
.thumbs {
    border:1px solid #ccc;
    background-color: #e6e5e5;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.thumbs .page {
    text-align: center;
    padding: 8px 5px;
}
.thumbs .item {
	margin:0 3px;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.gallery.left {
    float: left;
    margin: 10px 10px 10px 0;
}
.gallery.right {
    float: right;
    margin: 10px 0 10px 10px;
}
.control-prev, .control-next{
	margin:3px;
	background: url(../colorbox/images/controls.png) 0px 0px no-repeat;
	width:23px; 
	height:23px; 
	text-indent:-9999px;
}
.control-prev{float:left;background-position: -51px -25px;}
.control-prev:hover{background-position:-51px 0px;}
.control-next{float:left;background-position:-75px -25px;}
.control-next:hover{background-position:-75px 0px;}
.control-info{font-weight: bold; color: #666}
