<%namespace file="/include.html" name="include" import="*"/>
<%def name="head()"></%def>

<div class="field">
	${h.title(u'Полное имя', True, label_for=c.fs.fullname.id)}
	${h.text(name=c.fs.fullname.id, class_='text')}
</div>

<div class="field">
    ${h.title(u'Ник', False, label_for=c.fs.nickname.id)}
    ${h.text(name= c.fs.nickname.id, class_='text')}
</div>

<div class="field">
    ${h.title(u'Email', False, label_for=c.fs.email.id)}
    ${h.text(name=c.fs.email.id, class_='text')}
</div>

<div class="field">
    ${h.title(u'Аватара', False, label_for=c.fs.avatar.id)}
    ${h.file(name=c.fs.avatar.id, class_='text')}
    
    % if c.fs.avatar.value:
    <img alt="" src="/uploads/${c.fs.avatar.value}"/>
    % endif
</div>