<%inherit file="/form.html" />
<%def name="adds_head()"></%def>
<%def name="title()">Новоя персона</%def>
<%def name="id()">${c.form.name}</%def>
<%def name="actions()">
	${h.submit(value=u'создать', name=c.fs.save.id)}
	${h.submit(value=u'отмена', name=c.fs.cancel.id)}
</%def>
##${h.form("", id = form_id(), method='post',  multipart=True)}
<form method="post" action="${c.form.action}" enctype="multipart/form-data">
    <div class="box">
        <div class="box-title">
            ${self.title()}
        </div>
	    
	    <div class="field">
		    ${h.title(u'Полное имя', True, label_for=c.fs.fullname.id)}
		    ${h.text(name=c.fs.fullname.id, class_='text')}
		</div>
		
		<div class="field">
		    ${h.title(u'Ник', False, label_for=c.fs.nickname.id)}
		    ${h.text(name= c.fs.nickname.id, class_='text')}
		</div>
		
		<div class="field">
		    ${h.title(u'Email', False, label_for=c.fs.email.id)}
		    ${h.text(name=c.fs.email.id, class_='text')}
		</div>
		
		<div class="field">
		    ${h.title(u'Аватара', False, label_for=c.fs.avatar.id)}
		    ${h.file(name=c.fs.avatar.id, class_='text')}
		    
		    % if c.node:
		    <img class="box-img" alt="${c.node.fullname}" src="${h.url_for(controller='person', action='avatar', id=c.node.id)}"/>
		    % endif
		</div>
        
        <div class="field">
            ${self.actions()}
        </div>
    </div>
</form>