<%inherit file="/form.html" />
<%namespace file="fields.html" name="fields" import="*"/>
<%def name="adds_head()">
    ${fields.head()}
</%def>
<%def name="title()">Новоя персона</%def>
<%def name="form_id()">${c.form.name}</%def>
##${h.form("", id = form_id(), method='post',  multipart=True)}
<form id="${form_id()}" method="post" action="${c.form.action}" enctype="multipart/form-data">
    <div class="box">
        <div class="box-title">
            ${self.title()}
        </div>
	    ${fields.body()}
        <div class="field">
            ${h.submit(value=u'соранить', name=c.fs.save.id)}
            ${h.submit(value=u'отмена', name=c.fs.cancel.id)}
        </div>
    </div>
</form>