<script type="text/javascript">
/* <![CDATA[ */
$(document).ready(function(){
    $('#${id} .gallery-items').each(function(){
        $.post('${album.url(id)}', function(data){
            $("#${id} a[rel='${id}']").colorbox({width:'97%', height:'97%'});
            $('#${id}').napokaz({
                count_per_page: ${count_per_page}
            });
        });
    });
})
/* ]]> */
</script>
<div id="${id}" class="gallery ${align}">
    <div class="gallery-items">
    <%doc>
    % for photo in photos:
        ${h.link_to(
            h.image(photo['url']+ '?imgmax=144', photo['title'], height='108px'),
            photo['url'] + '?imgmax=640',
            rel=id,
            title=photo['title'],
        )}
    % endfor
    </%doc>
    </div>
    <div class="gallery-info">
        <a href="${album.url_to_picasa()}" title="Посмотреть в Picasa" target="_blank">Посмотреть в <span class="picasa">Picasa</span></a>
    </div>
</div>
