<taconite>
% if h.on_page():
    <eval><![CDATA[
        $('#main').load('${h.url_for(**c.url)}')
        $.fn.colorbox.close()
    ]]></eval>    
% else:
    <eval><![CDATA[
        $('#informer').show();
        window.location='${h.url_for(**c.url)}';
    ]]></eval>
    <replaceContent select="#informer">    
        <div class="box-success">
        Подождите, страница перенаправляется. Если перенапровления долго не происходит, 
        нажмите <a href="${h.url_for(**c.url)}">тут</a>.
        </div>
    </replaceContent>
% endif
</taconite>