<%namespace file="/defs.html" name="defs" import="*"/>
<taconite>
% if h.on_page() and not c.is_full_redirect:
    <eval><![CDATA[
        $.ajax({url: '${c.url}'});
        ##$('#main').load('${c.url}')
        $.fn.colorbox.close()
        $('#loader').show();
    ]]></eval>
% else:
    <eval><![CDATA[
        $('#informer').show();
        window.location='${c.url}';
    ]]></eval>
    <replaceContent select="#informer">
        ${defs.informer(
            [u'''
            Подождите, страница перенаправляется. Если перенапровления
            долго не происходит, нажмите <a href="%s">тут</a>.
            ''' % c.url]
        )}
    </replaceContent>
% endif
</taconite>
