<taconite>
% if h.on_page() and not c.is_full_redirect:
    <eval><![CDATA[
        $.ajax({url: '${h.url_for(*c.args, **c.kwargs)}'});
        ##$('#main').load('${h.url_for(*c.args, **c.kwargs)}')
        $.fn.colorbox.close()
        $('#loader').show();        
    ]]></eval>    
% else:
    <eval><![CDATA[
        $('#informer').show();
        window.location='${h.url_for(*c.args, **c.kwargs)}';
    ]]></eval>
    <replaceContent select="#informer">    
        <div class="box-success">
        Подождите, страница перенаправляется. Если перенапровления долго не происходит, 
        нажмите <a href="${h.url_for(*c.args, **c.kwargs)}">тут</a>.
        </div>
    </replaceContent>
% endif
</taconite>