<%namespace file="/include.html" name="include" import="*" inheritable="True"/>
<%namespace file="/defs.html" name="defs" import="*" inheritable="True"/>
<%def name="head()">
    ${include.jquery_form()}

    ${self.adds_head()}
</%def>
<%def name="adds_head()"></%def>
<%def name="script()">
    $(document).ready(function(){
        var options = {
            url: '${c.form.action}',
            data : {is_ajax:1},
            beforeSubmit:  function() {
                $('#${self.id()}-informer').html('');
                $('#${self.id()}-loader').addClass('loading')
            },
            success: function (data)  {
                data = data
            },
            complete: function (xhr, type)  {
                if(type !== "success"){
                    $('#${self.id()}-loader').removeClass('loading');
                }
                if (0 == xhr.status && xhr.responseXML) {
                    $.taconite(xhr.responseXML)
                }
            }
        };
        $('#${self.id()} form').ajaxForm(options);

        % if h.on_page() and c.form.fields.cancel:
        $('#${c.form.fields.cancel.id}').click(function(){
            $.fn.colorbox.close();
            return false;
        });
        %endif
    });
</%def>
<%def name="form_errors()">
    % if c.form.has_errors():
        <div class="box-error">
            <form:error name="form"/>
        </div>
    % endif
</%def>
<%def name="field_errors(name)">
    % if c.form.has_errors(name):
        <form:error name="${name}"/>
    % endif
</%def>
<%def name="container()">
    <div id="${self.id()}" class="form-container">
        <div id="${self.id()}-informer"></div>
        <div id="${self.id()}-loader"></div>
        <div id="${self.id()}-form">
            ${next.body()}
        </div>
    </div>
</%def>
<%def name="all_body()">
    <script type="text/javascript">
    /* <![CDATA[ */
            ${self.script()}
    /* ]]> */
    </script>
    ${self.container()}
</%def>
${self.all_body()}
