<%def name="head()">
    ${h.javascript_link(h.url_for('/app/jquery/jquery.form-2.32.js'))}
    ${self.adds_head()}
</%def>
<%def name="adds_head()"></%def>
<%def name="form_id()">${next.form_id()}</%def>
<%def name="all_body()">
<script type="text/javascript">
    $(document).ready(function(){
        var options = { 
            target: '#${form_id()}-container',
            beforeSubmit:  function() {
                $('#${form_id()} :input').enable(false);
                $('.markItUpHeader li.markItUpButton')
                    .unbind()
                    .bind("click",function() {
                        return false;
                    }
                );
            },
            success: function() { 
                $('#${form_id()}-container').fadeIn('slow'); 
            }  
        };
        $('#${form_id()}').ajaxForm(options);
    });
</script>
<div id="${form_id()}-container">
    ${next.body()}
</div>
</%def>