<%def name="js(url, url_min=None)">
    % if url_min is None or config['debug']:
        ${h.javascript_link(h.url_for(url))}
    % else:
        ${h.javascript_link(h.url_for(url_min))}
    % endif
</%def>
<%def name="css(url)">
    ${h.stylesheet_link(h.url_for(url))}
</%def>

<%def name="jquery()">
    ${js('/jquery/jquery.js', '/jquery/jquery.min.js')}
</%def>
<%def name="jquery_form()">
    ${js('/jquery/jquery.form.js')}
</%def>
<%def name="jquery_taconite()">
    ${js('/jquery/jquery.taconite.js')}
    % if config['debug']:
    <script type="text/javascript">
        $(document).ready(function(){
            $.taconite.debug = true;
        });
    </script>
    % endif
</%def>
<%def name="jquery_cicle()">
    ${js('/jquery/jquery.cycle.js', '/jquery/jquery.cycle.min.js')}
</%def>
<%def name="jquery_colorbox()">
    ${js('/colorbox/jquery.colorbox.js', '/colorbox/jquery.colorbox-min.js')}
    ${css('/colorbox/colorbox.css')}
</%def>
<%def name="jquery_markitup()">
    ${js('/markitup/jquery.markitup.js')}
    ${css('/markitup/skins/simple/style.css')}
    ${js('/markitup/sets/markdown/set.js')}
    ${css('/markitup/sets/markdown/style.css')}
</%def>
<%def name="jquery_napokaz()">
    ${js('/napokaz/jquery.napokaz.js')}
</%def>
<%def name="pygments_css()">
    ${css('/css/pygments.css')}
</%def>
