<%inherit file="/base.html" />
<%namespace file="/defs.html" name="defs" import="*"/>
<%def name="title()">Main Layout</%def>
<%def name="google_analytics()">
    % if 'google_analytics' in config:
        ${defs.google_analytics(config['google_analytics'])}
    % endif
</%def>
<%def name="head()">
    ${self.include.jquery()}
    ${self.include.jquery_form()}
    ${self.include.jquery_taconite()}
    ${self.include.jquery_colorbox()}
    ${self.include.jquery_cicle()}
    ${self.include.jquery_napokaz()}

    ${self.adds_head()}

    ${h.stylesheet_link(h.url_for('/css/style.css'))}
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="${h.url_for('/css/ie.css')}" type="text/css" />
    <![endif]-->
<script type="text/javascript">
/* <![CDATA[ */
    $(document).ready(function(){
        $.sidebar = {
            activeLink: false,
            activeMore: false,
            inctive: true,
            timeout: 500,
            closeSidebar: function(){
                //console.debug('more: ' + $.sidebar.activeMore + ' link: ' + $.sidebar.activeLink)
                if ($.sidebar.inactive!==false && new Date()-$.sidebar.inactive>=$.sidebar.timeout){
                    console.debug('new: ' + (new Date() - $.sidebar.inactive));
                    $.sidebar.inactive = false;
                    $more = $('#sidebar');
                    $more.slideUp('fast');
                    $more.unbind();
                }
            }
        }

        $("#informer").ajaxError(function(event, request, settings){
            $(this).html('<div class="messages error">При выполнении запроса произшла ошибка<a class="control-close">Закрыть</a></div>');
            $('.loading').removeClass('loading');

        });

        $('#informer .control-close').live("click", function(){
            $('#informer').html('');
        });

        $('.nav li.more').bind("mouseenter", function(e){
            $.sidebar.activeLink = true;
            $.sidebar.inactive = false;
            $link = $(this);
            $more = $('#sidebar');

            if ($more.is(':hidden') || $.sidebar.inactive){
                $more.slideDown('fast');

                $more.bind("mouseenter", function(){
                    $.sidebar.activeMore = true;
                    $.sidebar.inactive = false;
                });

                $more.bind("mouseleave", function(e){
                    $.sidebar.activeMore = false;
                    $.sidebar.inactive = e.timeStamp;

                    setTimeout("$.sidebar.closeSidebar()",  $.sidebar.timeout);
                });

                $link.bind("mouseleave", function(e){
                    $.sidebar.activeLink = false;
                    $.sidebar.inactive = e.timeStamp;
                    setTimeout("$.sidebar.closeSidebar()",  $.sidebar.timeout);
                });

                $more.bind('click', function(e){
                    $.sidebar.activeMore = false;
                    $.sidebar.activeLink = false;
                    $.sidebar.inactive = e.timeStamp;
                    $.sidebar.closeSidebar();
                });
            }
            return false;
        }).click(function(){
            return false;
        });
    });
/* ]]> */
</script>

</%def>
<%def name="adds_head()"></%def>
<div id="layout">
    <div id="header">
        <a href="${h.url_for('/')}" class="logo"></a>

        <div class="slogan">
            Берегите природу
        </div>

        <div class="nav"><ul>
            ##<li><a href="${h.url_for('/demo')}" title="Демонстрационное событие">Демо событие</a></li>
            ##<li><a href="${h.url_for('/pulse')}">Пульс проекта</a></li>
            <li><a href="${h.url_for('/a/about')}">О проекте</a></li>
            <li><a href="${h.url_for('/a/about#contacts')}">Контакты</a></li>
            <li class="more">
                <a href="#">Еще...</a>
           </li>
        </ul></div>
    </div>
    <div id="sidebar" class="more-detail">
        ${h.views.sidebar()}
    </div>

    <div id="informer">
        ${defs.informer(c.flash_messages)}
    </div>
    <div id="center">
        <div id="main">
            ${next.body()}
        </div>
    </div>
    <div id="footer">
        <span class="copyright">&copy; 2010 horosh.org</span>
        <span>При использовании материалов сайта гиперссылка на <a href="http://horosh.org">horosh.org</a> обязательна.</span>

        ${self.google_analytics()}
    </div>
</div>
