<%inherit file="/base.html" />
<%namespace file="/defs.html" name="defs" import="*"/>
<%def name="title()">Main Layout</%def>
<%def name="head()">
    ${self.include.jquery()}
    ${self.include.jquery_form()}
    ${self.include.jquery_taconite()}
    ##${self.include.jquery_ui()}
    ${self.include.jquery_colorbox()}
    ${self.include.jquery_cicle()}
    ${self.include.jquery_napokaz()}

    ${self.adds_head()}

    ${h.stylesheet_link(h.url_for('/css/style.css'))}
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="${h.url_for('/css/ie.css')}" type="text/css" />
    <![endif]-->
<script type="text/javascript">
/* <![CDATA[ */
    $(document).ready(function(){
        $("#informer").ajaxError(function(event, request, settings){
            $(this).html('<div class="messages error">При выполнении запроса произшла ошибка<a class="control-close">Закрыть</a></div>')
        });

        $('#informer .control-close').live("click", function(){
            $('#informer').html('');
        });
    });
/* ]]> */
</script>

</%def>
<%def name="adds_head()"></%def>
<div id="layout">
    <div id="header">
        <a href="${h.url_for('/')}" class="logo"></a>

        <div class="slogan">
            Берегите природу
        </div>

        <div class="nav"><ul>
            <li><a href="${h.url_for('/demo')}">Демонстрация</a></li>
            <li><a href="${h.url_for('/pulse')}">Пульс проекта</a></li>
            <li><a href="${h.url_for('/a/about')}">О проекте</a></li>
            <li><a href="${h.url_for('/a/contacts')}">Контакты</a></li>
        </ul></div>
    </div>
    <div id="informer">
        ${defs.informer(c.flash_messages)}
    </div>
    <div id="center" class="container">
        <div class="span-80">
            <div id="main">
                ${next.body()}
            </div>
        </div>
        <div class="span-20"><div id="sidebar">
            ${h.views.sidebar()}
        </div></div>
    </div>
    <div id="footer">
        <span class="copyright">&copy; 2009 horosh.org</span>
        При использовании материалов сайта гиперссылка на <a href="http://horosh.org">horosh.org</a> обязательна.</div>

        % if 'google_analytics' in config:
            ${defs.google_analytics(config['google_analytics'])}
        % endif
    </div>
</div>
