<%inherit file="/base.html" />
<%namespace file="/include.html" name="include" import="*"/>
<%def name="title()">Main Layout</%def>
<%def name="head()">
    ${include.jquery()}
    ${include.jquery_colorbox()}
    ${include.jquery_cicle()}
    ${include.jquery_napokaz()}
    <script src="http://cdn.jquerytools.org/1.1.2/tiny/jquery.tools.min.js"></script>
    
    ${self.adds_head()}
    
    ${h.stylesheet_link(h.url_for('/app/css/style.css'))}
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="${h.url_for('/app/css/ie.css')}" type="text/css" />
    <![endif]-->
</%def>
<%def name="adds_head()"></%def>
<div class="container showgrid-">
	<div id="header" class="span-48">
        <a href="${h.url_for('/')}" class="span-8 logo"></a>
	</div>
	<div id="center" class="span-48">
		<div id="main" class="span-33 both-2">
	        ${next.body()}
		</div>
		<div id="sidebar" class="span-12 right-1">
			<h3>A <span class="alt">Simple</span> Sidebar</h3>
			<p class="box">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.</p>
			<p>Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida. Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum egestas lorem. Duis ac sem sagittis elit tincidunt gravida.</p>
			<p class="quiet">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.</p>
			<h5>Incremental leading</h5>
			<p class="incr">Vestibulum ante ipsum primis in faucibus orci luctus vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue. sed aliquet vehicula, lectus tellus.</p>
			<p class="incr">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue. sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue. ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue. sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue.</p>
		</div>
	</div>
	<div id="footer" class="span-47 all-side-1">
        <div class="span-10">horosh.org &copy; 2009</div>
        <div class="span-37">При использовании материалов сайта гиперссылка на <a href="http://horosh.org">horosh.org</a> обязательна. </div>       
	</div>
	<div id="script"></div>
</div>