<div class="sidebar-box">
    <h1>Мои действия</h1>
    <div class="nav accent"><ul>
        % if not h.is_nobody():
        <li class="accent"><a href="${h.url_for('/event/new')}">Добавить событие</a></li>
        % endif
        % if h.is_authorized():
            <li class="accent"><a href="${h.url_for(c.current_user.url())}">Мои события</a></li>
        % endif
        <li class="accent"><a href="${h.url_for('/')}">Все события</a></li>
        % if h.is_authorized():
            <li><a href="${h.url_for('/logout')}">Выход</a></li>
        % else:
            <li><a href="${h.url_for('/login')}">Вход</a></li>
        % endif
    </ul></div>

    % if h.is_admin():
    <div class="nav accent"><ul>
        <li  class="accent"><a href="${h.url_for('/demo/up')}">Обновить демо</a></li>
    </ul></div>
    % endif
</div>

% if 0 < len(articles):
    <div class="sidebar-box">
        <h1>Информация</h1>
        <div class="nav"><ul>
            % for article in articles:
                <li><a href="${article.url()}">${article.title}</a></li>
            % endfor
            <li class="empty"></li>
            % if h.is_admin():
                <li class="accent"><a href="${h.url_for('/article/new')}">Добавить статью</a></li>
            % endif
            <li><a href="${h.url_for('/articles')}">Все статьи</a></li>
        </ul></div>
    </div>
% endif

% if 0 < len(pulse):
    <div class="sidebar-box">
        <h1>Пульс проекта</h1>
        <div class="nav"><ul>
            % for article in pulse:
                <li><a href="${article.url()}">${article.title}</a></li>
            % endfor
            <li class="empty"></li>
            % if h.is_admin():
                <li class="accent"><a href="${h.url_for('/pulse/new')}">Добавить пульс</a></li>
            % endif
            <li><a href="${h.url_for('/pulse')}">Весь пульс</a></li>
        </ul></div>
    </div>
% endif
