<div class="sidebar-box container">
    <h1>Мои действия</h1>
	<ul class="actions">
	    <li><a href="${h.url_for('/event/new')}">Добавить событие</a></li>
	    <li><a href="${h.url_for('user', user=user.nickname)}">Мои события</a></li>
	    <li><a href="${h.url_for('/')}">Все события</a></li>
	</ul>
	
	% if h.is_admin():
	<ul class="actions">
	    <li><a href="${h.url_for('/article/new')}">Добавить статью</a></li>
	    <li><a href="${h.url_for('/articles')}">Все статьи</a></li>
	</ul>
	
	<ul class="actions">
	    <li><a href="${h.url_for('/pulse/new')}">Добавить пульс</a></li>
	    <li><a href="${h.url_for('/pulse')}">Весь пульс</a></li>
	</ul>
	% endif
</div>

<div class="sidebar-box container">
    <h1>Мои действия</h1>
    <ul class="actions">
        <li><a href="${h.url_for('/event/new')}">Добавить событие</a></li>
        <li><a href="${h.url_for('user', user=user.nickname)}">Мои события</a></li>
        <li><a href="${h.url_for('/')}">Все события</a></li>
    </ul>
    
    % if h.is_admin():
    <ul class="actions">
        <li><a href="${h.url_for('/article/new')}">Добавить статью</a></li>
        <li><a href="${h.url_for('/articles')}">Все статьи</a></li>
    </ul>
    
    <ul class="actions">
        <li><a href="${h.url_for('/pulse/new')}">Добавить пульс</a></li>
        <li><a href="${h.url_for('/pulse')}">Весь пульс</a></li>
    </ul>
    % endif
</div>