body {
  color: #333;
  background: #9ab;
  font-family: Verdana, sans-serif;/*Georgia, serif;*/
}
a {
    color: #07a;

    text-decoration: none;
}
a:hover {
    color: #d64;
}

/* Containers */
#layout {
    width: 960px;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
}

#center {
    padding: 0 8px 8px 8px;
    margin: 0 5px;
    background: #bcd;

    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
#main {
    padding: 10px 8px 0 0;
}

/* Informer */
#informer {
    position: absolute;
    top: 21px;
    z-index: 1000;
    margin: 0 200px;
}
#informer .messages {
    position: relative;
    padding: 5px 25px 5px 10px;
    font-weight: bold;
    background-color: #fea;
    border: 2px solid #fd2;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#informer .messages.success {
    background-color: #efc;
    border-color: #cd8;
}
#informer .messages.error {
    background-color: #fba;
    border-color: #f96;
}
#informer .control-close {
    position: absolute;
    top: 6px;
    right: 2px;
}

/* Header */
#header {
    height: 53px;
    position: relative;
    overflow: hidden;
    background: #ccc url(../images/pano.jpg) no-repeat center;
    border: 2px solid #dee;
    border-top: none;

    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
#header .logo {
    height: 45px;
    width: 150px;
    display: block;
    margin-left: 35px;
    margin-top: 10px;
}
#header .slogan {
    display: none;
    position: absolute;
    top: 2px;
    left: 280px;
    font-weight: bold;
    color: #669;
    border: 1px solid #99b;
    padding: 5px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#header .nav {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: lowercase;
    position: absolute;
    top: 2px;
    right: 20px;
}
#header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#header .nav ul li {
    float: left;
    margin: 0 5px;
}
#header .nav ul li a {
    padding: 1px 4px;
    color: #eff;
    background-color: #68a;
    border: 1px solid #68a;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#header .nav ul li a:hover {
    background-color: #fee;
    color: #d64;
}

/* Sidebar */
#sidebar {
    overflow: hidden;
}
.sidebar-box {
    margin-top: 8px;
    padding: 3px;
}
.sidebar-box h1 {
    height: 1.3em;
    font-size: 1.3em;
    font-weight: bold;
    color: #555;
    text-align: center;
    margin: 0 -5px -10px -5px;
}
.sidebar-box .nav ul {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 2px;
    background-color: #68a;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-box .nav ul li.empty{
    height: 2px;
    background-color: #bcd;
    margin: 3px 0;
}
.sidebar-box .nav ul li a {
    display: block;
    padding: 0 5px;
    color: #eff;
}
.sidebar-box .nav ul li a:hover {
    background-color: #fee;
    color: #d64;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-box .nav li.accent {
    font-weight: bold;
}

/* Footer */
#footer {
    color: #fff;
    padding: 5px 0;
    text-align: center;
}
#footer .copyright {
    margin-right: 20px;
}

/* Misc classes */
.loading {
    opacity: 0.7;
    z-index:999;
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    background: #fefefe url(../images/loading.gif) no-repeat center;
}
.picasa {
    background: url(../images/picasa.png) no-repeat left;
    padding-left: 16px;

}
.pager {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.pager a, .pager .pager_curpage {
    padding: 3px;
}
.pager-numbers {
    font-size: 1.2em;
}

/* Title */
.title {
    height: 20px;
    margin: 0 8px;
    border-bottom: 2px solid #789;
    position: relative;
}
.title h1 {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    margin-bottom: 0;
}
.title-info {
    margin: 0 8px;
    padding-left: 3px;
    font-size: 0.9em;
    font-weight: bold;
    color: #444;
    overflow: hidden;
}
.title-info .accent{
    margin-left: 1em;
    background-color: #d64;
    padding: 0 2px;
    color: #fee;
    letter-spacing: 3px;
}
.title .box-actions {
    bottom: 0;
    top: auto;
    margin-bottom: -2px;
}

/* Box */
.box {
    margin: 8px;
    padding: 5px;
    position: relative;
    background: #fff;
}
.box-title {
    height: 18px;
    padding-left: 5px;
    margin: -5px -5px 5px -5px;
    background: #789;
    color: #fff;
    font-weight: bold;
}
.box-title a {
    color: #eff;
    font-weight: bold;
}
.box-title a:hover {
    color: #fee;
}
.box-actions {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    height: 17px;
    border-top: 1px solid #789;
    border-left: 1px solid #789;
}
.box-actions a {
    height: 13px;
    padding: 2px 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    background-color: #def;
}
.box-actions a:hover{
    background-color: #fee;
}
.box-actions .accent {
    letter-spacing: 3px;
}
.box-actions .node-actions {
    top: 16px;
    border-top: 1px solid #789;
    font-size: 1em;
    min-width: 80px;
    text-align: right;
}
.box-text {
    margin-top: 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #789;
}
.box-text .title-info {
    margin: -5px 5px 1em -5px;
}
.box-text .box-actions {
    bottom: 0;
    top: auto;
    margin-bottom: -1px;
    margin-right: -1px;
    border: 1px solid #789;
}

.box-img {
    border: 2px solid #9b9;
    padding: 1px;
    margin: 10px;
}
.box-empty {
    background-color: #fff;
    padding: 25px;
}

/* Avatar */
.avatar {
    width: 102px;
    text-align: center;
    text-decoration: none;
    margin: 5px auto;
    border: 2px solid #789;
    position: relative;
}

.avatar-img {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}
.avatar-info {
    display: block;
    width: 98px;
    color: #666;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1.2;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
    background-color: #eee;
    border-top: 2px solid #789;
}

/* Node Actions */
.node {
    position: relative;
    display: block;
}
.node-actions {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 0.9em;
    text-align: left;
    line-height: 1;
    display:none;
    z-index: 100;
    border-left: 1px solid #789;
    border-bottom: 1px solid #789;
    overflow: hidden;
}
.node-actions a {
    text-decoration: none;
    padding: 2px 5px 4px 5px;
    display: block;
    white-space: nowrap;
    border-top: 1px solid #789;
    margin-top: -1px;
    background-color: #def;
}
.node-actions a:hover{
    background-color: #fee;
}

/* Event */
.event-show {
    position: relative;
}
.event-persons {
    max-height: 270px;
    overflow: auto;
}

.event-albums {
    max-height: 279px;
    overflow-y: auto;
}
.event-albums .node-actions {
    top: 2px;
    right: 2px;
}
.event-reports .title {
    height: 16px;
    margin: 0;
    margin-top: 1.5em;
    border-width: 1px;
}
.event-reports .title h1 {
    font-size: 16px;
}
.event-reports .box-text {
    border: 1px solid #789;
    border-top: none;
    padding: 5px;
    position: relative;
    margin-bottom: 0;
}
.event-reports .title .box-actions {
    border: 1px solid #789;
    border-bottom: none;
    margin-bottom: -1px;
}
.event-list-node .span-18 .gallery {
    margin-top: 0;
}

/* Articles */
.article-show .box-text {
    border-bottom: 0;
}

/* Reports */
.report-show .box-text {
    border-bottom: 0;
}
.report-persons {
    overflow-y: auto;
    max-height: 135px;
}

/* Gallery styles*/
.gallery {
    text-align: center;
    line-height: 0.9;
    margin: 5px auto;
    position: relative;
}
.gallery-items {
    width: 114px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #79b;
}
.gallery-items img {
    border: 1px solid #fff;
    margin: 2px 2px;
}
.gallery.left {
    float: left;
    margin: 10px 10px 10px 0;
}
.gallery.right {
    float: right;
    margin: 10px 0 10px 10px;
}

/* Gallery napokaz*/
.gallery-container {
    background-color: #789;
}
.gallery-page {
    background-color: #789;
}
.gallery-page a {
    border: 1px solid #fff;
    margin: 2px;
    background-color: #333;
}
.gallery-controls {
    position: absolute;
    left: 0;
    bottom: 0;

    border: 2px solid #789;
    border-top: none;
    background-color: #eee;
}
.gallery-controls-buttons {
    height: 16px;
    position: relative;
    float: left;
}
.gallery-controls-buttons .control-prev,
.gallery-controls-buttons .control-next {
    margin-right:3px;
}
.gallery-controls-pager {
    padding: 3px 5px 0 0;
    margin-left: 35px;
    color: #666;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

/* Controls */
.control-prev, .control-next, .control-close {
    background: url(../images/controls.png) 0px 0px no-repeat;
    width:16px;
    height:16px;
    text-indent:-9999px;
    position: absolute;
    cursor: pointer;
}
.control-prev{bottom:0;left:0;background-position: 0px 0px;}
.control-prev:hover{background-position: 0px -16px;}
.control-next{bottom:0;left:16px;background-position: -16px 0px;}
.control-next:hover{background-position: -16px -16px;}
.control-close{right:0; background-position: -32px 0px;}
.control-close:hover{background-position: -32px -16px;}
