body { 
  color: #222; 
  background: #9b9;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Containers */
#layout {
	width: 960px;
    margin: 0 auto;
    padding: 0 5px;
}

#header {
    background-color: #aca;
    margin: 0 -5px;
    padding: 0 5px;
    border: 1px solid #ded;
    border-top: none;
    
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

#center {
	background-color: #ded;
	border-top: none;
	padding: 0 8px 8px 8px;
}

#informer {
    padding: 5px 8px 0 0;
    display: none;	
}

#main {
	padding: 10px 8px 0 0;
}

#sidebar {
}

#footer {
	color: #ded;
	padding: 5px 0;
	text-align: center;
}
#footer .copyright {
	margin-right: 20px;
}
#footer a {
	color: #363;
}
#footer a:hover {
    color: #336;
}

/* Misc classes */
.logo {
    background: url(../images/logo.png) no-repeat center;
    height: 50px;
    width: 150px;
    display: block;
}

.loading {
	opacity: 0.7;
	z-index:9999; 
	overflow:hidden;
	position:absolute; 
	width:100%; 
	height:100%;
    background: #fefefe url(../images/loading.gif) no-repeat center;
}
.picasa {
	background: url(../images/picasa.png) no-repeat left;
	height: 16px;
	width: 16px;
	float: left;
	margin-top: 1px;
	margin-right: 3px;
}
.title {
	height: 1.6em;
	margin: 0 8px;
	border-bottom: 2px solid #9b9;
	position: relative;
}
.title h1{
	font-size: 1.6em;
	font-weight: bold;
	color: #464;
	margin-bottom: 0;
}
.title-info {
	margin: 0 8px;
	font-size: 0.9em;
    font-weight: bold;
    color: #464;
}
.title-info div{
	float: left;
	padding-right: 15px; 
}
.title .box-actions {
	bottom: 0;
	top: auto;
	margin-bottom: -2px;
}

/* reStructuredText */
.section h1 a{
	text-decoration: none;
	color: #222;
}

/* Box */
.box {
	margin: 8px;
	padding: 5px;
	position: relative;
	background: #fff;
}
.box-title {
	padding-left: 5px;
	margin: -5px -5px 5px -5px;
	background: #9b9;
	color: #efe;
	font-weight: bold;
}
.box-actions {
	position: absolute;
	right: 0;
	top: 0;
}
.box-actions a{
	padding: 0 5px;
	border-left: 2px solid #ded;
	color: #efe;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    background-color: #9b9;
}
.box-actions a:hover{
    background-color: #b99;
    color: #fee;
}
.box-actions .accent {
	letter-spacing: 3px;
	background-color: #8a8;
}
.box-actions a.no-border {
    border-left: none;
}
.box-img {
	border: 2px solid #9b9;
	padding: 1px;
	margin: 10px; 
}
.box-empty {
	padding: 25px;
}

/* Avatar */
.avatar {
	width: 102px;
	text-align: center;
	text-decoration: none;
    margin: 5px auto;
    border: 2px solid #9b9;
    position: relative;
}

.avatar-img {
	display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}
.avatar-info {
    display: block;
    width: 98px;
    color: #666;
    overflow: hidden;    
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1.2;
    padding: 2px;
    white-space: nowrap;
    text-align: center;    
	background-color: #eee;
	border-top: 2px solid #9b9;
}

/* Node Actions */
.node {
    position: relative;
    display: block;
}
.node-actions {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #9b9;
    text-align: left;
    line-height: 1;    
    display:none;
    z-index: 25;
}
.node-actions a{
	color: #efe;
    font-weight: bold;
	text-decoration: none;
    font-size: 0.9em;
    padding: 2px 2px 4px 4px;
    display: block;
    white-space: nowrap;
    border-left: 1px solid #fff;    
    border-bottom: 1px solid #fff;
}
.node-actions a:hover{
    background-color: #b99;
    color: #fee;
}

/* Event */
.event-show {
	position: relative;
}
.event-persons {
	max-height: 270px;
	overflow: auto; 
}

.event-albums {
    max-height: 279px;
    overflow-y: auto; 
}
.event-albums .node-actions {
	top: 2px;
	right: 2px;
}
.event-reports {
}
.event-reports .title {
	height: 1.3em;
	margin: 0 0 1em 0;
	border: none;
}
.event-reports .title h1{
    font-size: 1.3em;
}
.event-reports .node {
	border: 2px solid #9b9;
	padding: 5px;
	margin-top: 10px;
}
.event-reports .box-actions {
	bottom: 0;
	top: auto;
	margin-bottom: -2px;
}

/* Reports */
.report-show {}
.report-persons {
	overflow-y: auto;
    max-height: 135px;	
}
.report-box {
	margin-top: 0;
}
/* Gallery styles*/
.gallery {
    text-align: center;
    line-height: 0.9;
    margin: 5px auto;
    position: relative;
}
.gallery-items {
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #9b9;
}
.gallery-items img {
    border: 1px solid #fff;
    margin: 2px;
}
.gallery.left {
    float: left;
    margin: 10px 10px 10px 0;
}
.gallery.right {
    float: right;
    margin: 10px 0 10px 10px;
}

/* Gallery napokaz*/
.gallery-page {
	background-color: #9b9;
}
.gallery-page a {
    border: 1px solid #fff;
    margin: 2px;
}
.gallery-controls {
	position: absolute;
	left: 0;
	bottom: 0;
    
    border: 2px solid #9b9;
    border-top: none;
    background-color: #eee;    
}
.gallery-controls-buttons {
	height: 16px;
	position: relative;
	float: left;
}
.gallery-controls-pager {
	padding: 4px 5px 0 0;
	margin-left: 35px;
    color: #666;
    text-align: center;
    font-weight: bold;    
    font-size: 0.9em;
}

/* Controls */
.control-prev, .control-next{
    margin-right:3px;
    background: url(../images/controls.png) 0px 0px no-repeat;
    width:16px; 
    height:16px; 
    text-indent:-9999px;
    position: absolute;
    cursor: pointer;
}
.control-prev{bottom:0;left:0;background-position: 0px 0px;}
.control-prev:hover{background-position:0px -16px;}
.control-next{bottom:0;left:16px;background-position:-16px 0px;}
.control-next:hover{background-position:-16px -16px;}