body { 
  color: #222; 
  background: #bbc;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
a {
    color: #66a;
    text-decoration: none;
}
a:hover {
    color: #a66;
}

/* Containers */
#layout {
	width: 960px;
    margin: 0 auto;
    padding: 0 5px;
}

#header {
	height: 50px;
	position: relative;
	overflow: hidden;
    background: #ccc url(../images/pano.jpg-) no-repeat left;
    border: 1px solid #99b;
    border-top: none;
    
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

#center {
	background-color: #eee;
	padding: 0 8px 8px 8px;
	margin: 0 5px;
}

#informer {
    padding: 5px 8px 0 0;
    display: none;	
}

#main {
	padding: 10px 8px 0 0;
}

#sidebar {
	overflow: hidden;
}

#footer {
	color: #fff;
	padding: 5px 0;
	text-align: center;
}
#footer .copyright {
	margin-right: 20px;
}

/* Header */
#header .logo {
    background: url(../images/logo.png) no-repeat center;
    height: 45px;
    width: 150px;
    display: block;
    margin-left: 2px;
    margin-top: 5px;
}
#header .slogan {
    position: absolute;
    top: 2px;
    left: 280px;
	font-weight: bold;
	color: #669;
	border: 1px solid #99b;
	padding: 5px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#header .nav {
	font-size: 1.1em;
	font-weight: bold;
	text-transform: lowercase;
	position: absolute;
	top: 2px;
	right: 10px;
}
#header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#header .nav ul li {
	float: left;
	margin: 0 5px;
}
#header .nav ul li a {
    padding: 2px 5px;
    color: #efe;
    background-color: #9b9;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#header .nav ul li a:hover {
    background-color: #99b;
    color: #eef;
}

/* Sidebar */
.sidebar-box {
    margin-top: 8px;
    padding: 3px;
    color: #efe;
    font-weight: bold;
}
.sidebar-box h1 {
    height: 1.3em;
    font-size: 1.3em;
    font-weight: bold;
    color: #464;
    text-align: center;
    margin: 0 -5px -10px -5px;
}
.sidebar-box .nav ul {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 2px;
    background-color: #9b9;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-box .nav ul li.empty{
	height: 2px;
	background-color: #eee;
	margin: 3px 0;
}
.sidebar-box .nav ul li a {
    display: block;
    padding: 0 5px;
    color: #efe;
}
.sidebar-box .nav ul li a:hover {
    background-color: #99b;
    color: #eef;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Misc classes */
.loading {
	opacity: 0.7;
	z-index:9999; 
	overflow:hidden;
	position:absolute; 
	width:100%; 
	height:100%;
    background: #fefefe url(../images/loading.gif) no-repeat center;
}
.picasa {
	background: url(../images/picasa.png) no-repeat left;
	height: 16px;
	width: 16px;
	float: left;
	margin-top: 1px;
	margin-right: 3px;
}
.title {
	height: 20px;
	margin: 0 8px;
	border-bottom: 2px solid #9b9;
	position: relative;
}
.title h1 {
	font-size: 20px;
	font-weight: bold;
	color: #464;
	margin-bottom: 0;
}
.title-info {
	margin: 0 8px;
	font-size: 0.9em;
    font-weight: bold;
    color: #464;
    overflow: hidden;
}
.title-info .accent{
	margin-left: 1em;
    background-color: #99b;
    padding: 0 2px;
    color: #fee;    
    letter-spacing: 3px;
} 
.title .box-actions {
	bottom: 0;
	top: auto;
	margin-bottom: -2px;
}

/* reStructuredText */
.document {
}
.section h1 a{
	text-decoration: none;
	color: #222;
}

/* Box */
.box {
	margin: 8px;
	padding: 5px;
	position: relative;
	background: #fff;
}
.box-title {
	padding-left: 5px;
	margin: -5px -5px 5px -5px;
	background: #9b9;
	color: #efe;
	font-weight: bold;
}
.box-title a {
    color: #efe;
    font-weight: bold;
}
.box-title a:hover {
    color: #fee;
}

.box-actions {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 1;
}
.box-actions a {
    margin-left: -2px;	
	height: 12px;
    padding: 3px 5px;
	color: #efe;
    font-weight: bold;
    text-decoration: none;
    display: block;
    background-color: #9b9;
}
.box-actions a:hover{
    background-color: #99b;
    color: #eef;
}
.box-actions .accent {
	letter-spacing: 3px;
	background-color: #8a8;
}
.box-actions .node-actions {
	top: 18px;
	border-top: 1px solid #fff;
	font-size: 1em;
}
.box-text {
    margin-top: 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #9b9;
}
.box-text .title-info {
    margin: -5px 5px 1em -2px;
}
.box-text .box-actions {
    bottom: 0;
    top: auto;
    margin-bottom: -1px;
}

.box-img {
	border: 2px solid #9b9;
	padding: 1px;
	margin: 10px; 
}
.box-empty {
	padding: 25px;
}

/* Avatar */
.avatar {
	width: 102px;
	text-align: center;
	text-decoration: none;
    margin: 5px auto;
    border: 2px solid #9b9;
    position: relative;
}

.avatar-img {
	display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}
.avatar-info {
    display: block;
    width: 98px;
    color: #666;
    overflow: hidden;    
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1.2;
    padding: 2px;
    white-space: nowrap;
    text-align: center;    
	background-color: #eee;
	border-top: 2px solid #9b9;
}

/* Node Actions */
.node {
    position: relative;
    display: block;
}
.node-actions {
	position: absolute;
	top: 0;
	right: 0;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    line-height: 1;    
    display:none;
    z-index: 25;
}
.node-actions a {
	min-width: 70px;
	color: #efe;
	text-decoration: none;
    padding: 2px 5px 4px 5px;
    display: block;
    white-space: nowrap;
    border-left: 1px solid #fff;    
    border-bottom: 1px solid #fff;
    background-color: #9b9;    
}
.node-actions a:hover{
    background-color: #99b;
    color: #eef;
}

/* Event */
.event-show {
	position: relative;
}
.event-persons {
	max-height: 270px;
	overflow: auto; 
}

.event-albums {
    max-height: 279px;
    overflow-y: auto; 
}
.event-albums .node-actions {
	top: 2px;
	right: 2px;
}
.event-reports .title {
	height: 16px;
	margin: 0;
	margin-top: 1em;
}
.event-reports .title h1 {
    font-size: 16px;
}
.event-reports .box-text {
	border: 1px solid #9b9;
	border-top: none;
	padding: 5px;
	position: relative;
	margin-bottom: 0;
}
.event-reports .node-actions {
	right: 1px;
}
.event-list-node .span-18 .gallery {
	margin-top: 0;
}
/* Articles */
.article-show .box-text {
	border-bottom: 0;
}
/* Reports */
.report-show .box-text {
    border-bottom: 0;
}
.report-persons {
	overflow-y: auto;
    max-height: 135px;	
}
/* Gallery styles*/
.gallery {
    text-align: center;
    line-height: 0.9;
    margin: 5px auto;
    position: relative;
}
.gallery-items {
    width: 150px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #9b9;
}
.gallery-items img {
    border: 1px solid #fff;
    margin: 2px 2px;
}
.gallery.left {
    float: left;
    margin: 10px 10px 10px 0;
}
.gallery.right {
    float: right;
    margin: 10px 0 10px 10px;
}

/* Gallery napokaz*/
.gallery-container {
	background-color: #9b9;
}
.gallery-page a {
    border: 1px solid #fff;
    margin: 2px;
    background-color: #333;
}
.gallery-controls {
	position: absolute;
	left: 0;
	bottom: 0;
    
    border: 2px solid #9b9;
    border-top: none;
    background-color: #eee;    
}
.gallery-controls-buttons {
	height: 16px;
	position: relative;
	float: left;
}
.gallery-controls-pager {
	padding: 4px 5px 0 0;
	margin-left: 35px;
    color: #666;
    text-align: center;
    font-weight: bold;    
    font-size: 0.9em;
}

/* Controls */
.control-prev, .control-next{
    margin-right:3px;
    background: url(../images/controls.png) 0px 0px no-repeat;
    width:16px; 
    height:16px; 
    text-indent:-9999px;
    position: absolute;
    cursor: pointer;
}
.control-prev{bottom:0;left:0;background-position: 0px 0px;}
.control-prev:hover{background-position:0px -16px;}
.control-next{bottom:0;left:16px;background-position:-16px 0px;}
.control-next:hover{background-position:-16px -16px;}