/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */
label       { font-weight: bold;}
fieldset    { padding:1em 18px; margin: 1em 0 1em 0; border: 1px solid #ccc;}
legend      { font-weight: bold; font-size:1.2em; padding: 0 0.5em}

/* Form fields
-------------------------------------------------------------- */
.field {margin: 5px 5px 1em 5px;}
.form-container {position: relative;}

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  background-color:#fff;
  border:1px solid #bbb;
  margin-left: -1px;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border-color:#666;
}
input[type=text].error, input[type=password].error,
input.text.error, input.title.error,
textarea.error, select.error {
  border-color: #d00;
}

input.text,
input.title   { width: 100%;}
input.title   { font-size:1.5em; }
textarea      { width: 100%;}
/*
input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin-bottom:0.8em;
}

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:.25em;
}
*/
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

form .required-symbol { font-weight: bold; color: #d00}
form .required, form .not-required {margin-right: 10px;}
form .desc { font-size: 0.9em;}

/* Success, notice and error boxes
-------------------------------------------------------------- */

.box-error,
.box-notice,
.box-success    { padding: 5px; margin: 0 0 1em 0; border: 2px solid #ddd; }

.box-error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.box-notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.box-success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.box-error a    { color: #8a1f11; }
.box-notice a   { color: #514721; }
.box-success a  { color: #264409; }

.error-message  { color: #b00; }
